
.video iframe{
	width: 450px;
	height: 250px;
}
.photo_gl1 img{
	width: 382px;
	height: 122px;
	margin-left: auto;
    margin-right: auto;
}
.photo_gl2 img{
	width: 304px;
	height: 253px;
}