.vmist_ab{
	font-size: 24px;
	widер: 120px;
}
.vmist_photo img{
	width: 450px;
	height: 250px;
}
.vmist_text{
	font-size: 18px;
}
.menu_niz1{
	margin-right: 6%;
}
.menu_niz2{
	margin-right: 6%;
}